.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.bestProjects {
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 160px;
  .container {
    width: 90vw;
    margin: 0 auto;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 50px;
      .title {
        p {
          font-family: Poppins;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          color: #0c96e2;
        }
        h1 {
          font-family: Poppins;
          font-size: 40px;
          font-weight: 600;
          line-height: 54px;
          letter-spacing: -0.03em;
          text-align: left;
          color: #1d2130;
          span {
            font-family: Poppins;
            font-size: 40px;
            font-weight: 600;
            line-height: 54px;
            text-align: left;
            color: #0c96e2;
          }
        }
      }
      .buttons {
        display: flex;
        gap: 20px;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          z-index: 1;
          width: 35.35px;
          height: 35px;
          border-radius: 100px;
          border: 1px solid #0c96e2;
          background-color: #0c96e2;
        }
        .prev img {
          text-align: center;
          transform: rotate(180deg);
        }
      }
    }

    .projectsSlider {
      display: flex;
      align-items: center !important;
      gap: 20px;
      transition: transform 0.5s ease-in-out;
      width: 100%;
    }

    .card {
      border-radius: 10px;
      min-width: 30%;
      box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
      img {
        border-radius: 8px;
        width: 100%;
      }
      .content {
        padding: 5px;
        width: 92%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        .text {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
    }
  }
}
@media (min-height: 665px) and (max-height: 740px) {
  .bestProjects {
    margin-top: 280px;
  }
}
@media (min-width: 400px) and (max-width: 992px) {
  .bestProjects {
    margin-top: 100px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    .projectsSlider {
      display: flex;
      align-items: center !important;
      gap: 3px !important;
      transition: transform 0.5s ease-in-out;
      width: 100% !important;
    }
    .top {
      .title {
        p {
          font-size: 14px !important;
        }
        h1 {
          font-size: 25px !important;
          span {
            font-size: 25px !important;
          }
        }
      }
      .buttons {
        gap: 10px !important;
        button {
          width: 25.35px !important;
          height: 25px !important;
        }
        .prev img {
          text-align: center;
          transform: rotate(180deg);
        }
      }
    }

    .card {
      min-width: 30% !important;
      img {
        width: 100%;
      }
      .content {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        a {
          margin-top: 10px;
          img {
            height: 20px;
            width: auto;
          }
        }
        .text {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 6px !important;
          h3 {
            text-align: center;
            font-size: 12px !important;
          }
          p {
            text-align: center;
            font-size: 9px !important;
          }
        }
      }
    }
  }
}
